.auth {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.input:hover{
  outline: none;
  border: 2px solid #5555ff;
}

.authTable {
  width: auto;
  background: #2e3a7a;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.authTable td, .authTable h1 ,.authTable td a{
    background-color: #2e3a7a;
}

.authTable h1 {
    position: relative;
    color: rgb(180, 203, 255);
    top: -10px;
    font-size: 36px;
}


.errorCell {
  height: 30px;
  text-align: center;
  background-color: #2e3a7a; 
  color: darkred;

  opacity: 0;
  visibility: hidden;

  transition: 0.4s ease;
}

.errorCell.show {
  opacity: 1;
  visibility: visible;
}


