.auth {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.input:hover{
  outline: none;
  border: 2px solid #262626;
}

.authTable {
  width: auto;
  background: #262626;
  text-align: center;
  border-radius: 20px;
  box-shadow:
  0 20px 40px rgba(0, 0, 0, 0.6),
  0 0 36px rgba(255, 255, 255, 0.22);
}

img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.authTable td, .authTable h1 ,.authTable td a{
    background-color: #262626;
}

.authTable h1 {
    position: relative;
    color: #dbcaf1;
    top: -10px;
    font-size: 36px;
}


.errorCell {
  height: 30px;
  text-align: center;
  background-color: #262626; 
  color: rgb(255, 0, 0);

  opacity: 0;
  visibility: hidden;

  transition: 0.4s ease;
}

.errorCell.show {
  opacity: 1;
  visibility: visible;
}

.switchAuth a:hover {
  color: purple;
  transition: 0.2s;
}

.switchAuth a{
  transition: 0.2s;
}