.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTop {
    width: 100%;
    height: 40vh;
    text-align: center;
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2dma2VidDNndjZlang5NDQxOXoxMGxnZ2h6cHBhanh1NTR2Z2ZiciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JtBZm3Getg3dqxK0zP/giphy.gif");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.homeTop .topText {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.topText h1,
.topText h2 {
    color: #ffffff;
}

.topButtons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.topButtons button {
    margin: 0 10px;
    color: white;
}

.homeBtn {
    background-color: rgba(255, 255, 255, 0.311);
}

.homeBtn:hover {
    background-color: rgba(255, 255, 255, 0.42);
}

.homeBottom {
    width: 100%;
    height: 60vh;
    text-align: center;
}

.homeBottom h1 {
    padding: 10px;
}

.bottomGrid {
    margin: 0 105px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 27vh;
}

.gridElement {
    border-radius: 11px;
    padding: 10px;
    margin: 10px 20px;
    height: auto;
    transition: 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.gridElement:hover {
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 9px 18px;
}

.gridElement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    font-family: sans-serif;
    padding: 30px;
}

.gridElement .company {
    font-size: 1.09rem;
    font-weight: 500;
}

.gridElement .ticker {
    font-size: 0.95rem;
    font-weight: 500;
    color: #626262;
    opacity: 0.9;
}

.gridElement .price {
    font-size: 1.55rem;
    font-weight: 600;
}

.gridElement .change {
    font-size: 1.12rem;
    font-weight: 500;
}