.navBody {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        z-index: 1000;
        margin: 0;
        padding: 0;
}


.navList {
        list-style-type: none;
        padding: 0;
        padding-right: 10px;
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;
}

.navTitle {
        font-weight: bold;
        font-size: 20px;
        margin-right: auto;
        padding-left: 5vw;
        display: flex;
        align-items: center;
}

.navTitle h1 {
        cursor: pointer;
        color:  #2563eb;
}

.navItem {
        display: flex;
        align-items: center;
}

.navItem a {
        text-decoration: none;
        padding: 0.8rem 1.3rem;
        border-radius: 10px;
        font-size: 18px;
        transition: 0.3s;
        margin-right: 0.2rem;
}

.navItem a:hover {
        text-decoration: none;
        padding: 0.8rem 1.4rem;
        font-size: 18px;
        transition: 0.3s;
}

.light .navItem a:hover {
    background-color: #eeeeee;
}

.dark .navItem a:hover {
    background-color: #333333; 
}


/*responsive*/

@media (max-width: 768px) {
        .navBody {
                height: auto;
                padding: 10px 0;
        }

        .navTitle {
                font-size: 20px;
                padding-left: 4vw;
                margin-bottom: 8px;
                text-align: center;
                align-self: center;
                margin: 0 auto;
        }

        .navList {
                flex-direction: column;
                align-items: center;
        }

        .navItem a {
                padding: 0.6rem 0;
                font-size: 16px;
        }
}

@media (max-width: 480px) {
        .navTitle {
                align-self: center;
                margin: 0 auto;
                font-size: 18px;
        }

        .navItem a {
                font-size: 14px;
        }
}