.navDiv {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transition: 0.3s;
        background: rgb(68, 36, 97);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
}


.navDiv td {
        padding: 10px 6vw;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.1s;
        background-color: rgb(68, 36, 97);
        border-radius: 20px;
}

.navDiv td:hover, .navDiv td:hover a{
        transition: 0.1s;
        background: rgb(98, 51, 141);
        transform: scale(1.05);
}

.navDiv td:hover, .navDiv .selected{
        box-shadow: 0px 0px 10px #ffffff;
}

.navItem a {
        transition: 0.1s;
        text-decoration: none;
        background-color: rgb(68, 36, 97);
        width: 100%;
}

.navOpen {
        width: 20vw;
        transition: 0.2s;
}

.navClosed {
        width: 3.5vw;
        transition: 0.2s;
}


.navButton {
        border-radius: 100%;
        text-align: center;
        width: 32px;
        height: 32px;
        font-size: 20px;
        vertical-align: middle;
        margin: 10px;
        transition: 0.3s;
        position: relative;
        z-index: 3;
        vertical-align: middle;
}

.opaque {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        transition: 0.3s;
        z-index: 1;
}

.navDiv thead th {
    color: #dbcaf1;
    font-size: 24px;
    position: relative;
    width: 100%;
    top: -60%;
    left: 0;
}