.profile {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100vw;
    display: grid;
    grid-template-columns: 85%; 
    grid-template-rows: 28vh 25vh 9vh auto; 
    justify-content: center;
    min-height: fit-content;
    padding-bottom: 20px;
    max-height: calc(100vh - 8vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.pgriditem, .pgriditem .value{
    border-radius: 10px;
}

.personal {
    background-color: white;
    width: 90%;
    text-align: center;
    height: 25vh;
    margin-bottom: 0;
    justify-self: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    align-content: center;
}

.values {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    width: 90%; 
    height: fit-content;
    justify-self: center; 
}

.value{
    background-color: white;
    text-align: center;
    height: 25vh;
    margin-bottom: 0;
}

.portfolio {
    justify-self: center; 
    align-self: self-start;
    width: 90%; 
    text-align: center;
    margin-bottom: 20px;
}

.profile h1{
    width: 90%;
    font-size: 28px;
    text-align: left;
    justify-self:center ;
    align-self: self-end;
    font-weight: normal;
}

.portfolio ul{
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0;
}

.gridListItem{
    width: 100%;
    background-color: white; 
    color: black;
    margin-bottom: 10px;
    min-height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.leftLi{
    flex: 1;
    align-self: center;
    text-align: left;
}
.leftLi h3,
.leftLi h4{
    text-align: left;
}
.leftLi h4{
    color: gray;
}

.rightLi{
    text-align: right;
    align-self: center;
}
.rightLi h4{
    font-weight: bold;
    color: rgb(101, 101, 101);
    padding-bottom: 0;
    margin-bottom: 5px;
}
.rightLi h5{
    color: gray;
    padding-top: 0;
    margin-top: 0;
}

.dark .personal,
.dark .value,
.dark .gridListItem {
    background-color: #181a1b; 
    color: #f0f2f5;
}

.orb{
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    width: 6.5%;
    aspect-ratio: 1/1;
    background-color: #2563eb;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    float: left;
    margin: 20px;
    margin-left: 50px;
    font-size: 170%;
    color: white;
    transition: 0.3s;
    border-style: none;
}

.orb:hover{
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 0px 10px #ffffff;
    background: #2056cc;
    cursor: pointer;
}

.orb-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 50%;
    border-style: none;
}

.orb-initial{
    font-size: 110%;
    display: inline-block;
    line-height: 1;
    color: white;
    border-style: none;
}

.info{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.info h1, .info h3{
    text-align: center;
    width: 100%;
    margin-left: 10%;
}

.personal button{
    margin-left: 50%;
    align-self: center;
    float: right;
}