html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  background: #101010;
}
* {
  color: #EAEAEA;
}

.App{
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  height: 100vh;
}

.App-nav{
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 200;
}

button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: rgb(68, 36, 97);
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #ffffff;
  background: rgb(98, 51, 141);
}

input {
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid rgb(68, 36, 97);
  transition: 0.3s;
  background: #262626;
}

img, video, iframe, table {
    max-width: 100%; /* Never let media be wider than its parent */
    height: auto;  /* Prevent stretching/distortion */
}