html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

h3{
  font-weight: normal;
}

body {
  
  padding-top: 8vh; 
}

.light{
  background: #f5f5f5;
  color: black;
}
.lightAccent{
  background: white;
  color: black;
}
.dark{
  background: #1e2021;
  color: white;
}
.darkAccent{
  background: #181a1b;
  color: white;
}

.light * {
  color: #000000;
}

.dark *{
  color: #ffffff;
}

.App{
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  height: 100vh;
}

button {
  text-align: center;
  font-size: 16px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px #ffffff;
  background: #2056cc;
}

input {
  font-size: 16px;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 4vh;
  border-radius: 8px;
  transition: 0.3s;
}

.darkAccent input, .dark input{
  background-color: #181a1b;
  border-color: white;
}
.lightAccent input, .light input{
  background-color: white;
  border-color: #181a1b;
}

img, video, iframe, table {
    max-width: 100%; 
    height: auto;  
}

@media (max-width: 768px) {
  body{
    padding-top: 20vh;
  }
}